---
---

:root {
  box-sizing: border-box;
  font-size: calc(0.5rem + 1vw);
  font-weight: normal;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", 
    Tahoma, Sans-Serif;
  color: #272727;
  text-shadow: 0 0.2em 0 rgba(0, 0, 0, 0.07);

  --visible-z-index: 500;
  --not-visible-z-index: 499;
}

.Display__ {
  background-color: {{ site.primary_color }};
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

@keyframes AnimateOutOfDisplay {
  from {
    display: flex; 
  }
  to {
    display: none;
  }
}

.Preloader__ {
  z-index: var(--visible-z-index);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;  
  background-color: {{ site.primary_color }};

  animation-name: AnimateOutOfDisplay;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-play-state: paused;
}

.Preloader__AnimationFrame__ {
  font-size: 1rem;
  width: 25em;
  height: 25em;
  display: none;  
}

.Preloader__AnimationFrame__:nth-child(1) {
  display: table-cell;
}

.Preloader__AnimationFrame__Vector {
  fill: {{ site.secondary_color }};
}

.Preloader__ProgressBar {
  text-align: center;
  width: 15em;
  height: 2em;
  border: 0.2em solid {{ site.secondary_color }};
  position: relative;
}

.Preloader__ProgressBar::after {
  content: attr(data-status);
  color: white;
  position: absolute;
  top: 0.2em; right: 0.2em; left: 0.2em; bottom: 0.2em;
  border: 0.2em solid black;
  background-color: {{ site.secondary_color }};
  width: 20%;
}

.Page__ {
  z-index: var(--not-visible-z-index);
  width: 100vw;
  height: 100vh;
}

/* h2: background-color: lightened primary_color  */


