---
---

*, *::after, *::before { 
  box-sizing: border-box;
  margin: 0;              
  padding: 0;             
}

:root {
  font-size: calc(1vw + 1vh + 0.5vmin);
  font-weight: normal;
  font-family: "Lato", "Lucida Grande", 
    "Lucida Sans Unicode", Tahoma, Sans-Serif;
  color: #272727; /* change to primary color */
  line-height: 1.5;

  --HeaderHeight: 5;
}

.Display__ {
  font-size: 1rem;
  background-color: {{ site.primary_color }};
}

.Preloader__ {
  font-size: 1rem;
  position: absolute;
  top: 0; left: 0;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  opacity: 0;
  display: none;       /* INFO(Ryan): Not displaying as assuming page is cached.
                     *             This simplifies the JS to manually show the 
					 *             preloader if the page is not cached.
                     */
  background-color: steelblue;
  color: white;
}

.Preloader__Title__ {
  margin-bottom: 1em;	
}

.Preloader__LoadingMsg__Squares__ {
  --LoadingSquaresWidth: 2;	
  --LoadingSquaresHeight: 2;	
  display: inline-block;
  width: calc(var(--LoadingSquaresWidth) * 1em + calc(var()));
  height:
}

.Preloader__LoadingMsg__Squares__Square {
 width: calc(var));
 height:
 background-color: white;
}

.Preloader__AnimationFrame__ {
  font-size: 1rem;
  width: 20em;
  height: 20em;
  display: none;  
}

.Preloader__AnimationFrame__:nth-child(1) {
  display: table-cell; /* INFO(Ryan): Closest 'display' property equivalent for
                        *             a 'flex-item'. 
                        */
}

@keyframes PreloaderMsgSquare1 {
  from {
    transform: scale(0, 0);	  
  }	
  to {
    transform: scale(1, 1);	  
  }
}
@keyframes PreloaderMsgSquare2 {
  from {
    transform: translateX(0);	  
  }	
  to {
    transform: translateX(width);	  
  }
}
@keyframes PreloaderMsgSquare3 {
  from {
    transform: translateX(0);	  
  }	
  to {
    transform: translateX(width);	  
  }
}
@keyframes PreloaderMsgSquare4 {
  from {
    transform: scale(1, 1);	  
  }	
  to {
    transform: scale(0, 0);	  
  }
}

.Preloader__AnimationFrame__Vector {
  fill: white;
}

.Preloader__ProgressBar__ {
  font-size: 1rem;
  text-align: center;
  width: 20em;
  height: 2em;
  border: 0.2em solid white;
  position: relative;
}

.Preloader__ProgressBar__Bar {
  color: steelblue;
  font-weight: 550;
  position: absolute;
  top: 0.2em; right: 0.2em; left: 0.2em; bottom: 0.2em;
  background-color: white;
  transition: transform 250ms ease-in-out;
  transform-origin: left; 
  transform: scale(0, 0);

  /* INFO(Ryan): Horizontally and vertically align text. */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Page__ {
  font-size: 1rem;
  z-index: 1;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
}

.Header__ {
  font-size: 1rem;
  width: 100%;
  height: calc(var(--HeaderHeight) * 1em);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0; left: 0;
  background-color: rgba(30, 30, 30, 0.8);
}

.Header__Logo__ {
  flex-basis: 50%;	
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 550;
}

.Header__Logo__Link {
  text-decoration: none;	
  color: white;
}

.Header__NavBtn__ {
  flex-basis: 50%;	
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header__NavBtn__Label {
  color: white;
  text-transform: uppercase;
  padding: 0.3em;
  border: 0.2em solid #efefef;
  border-radius: 5%;
  cursor: pointer;
  position: relative;
  font-weight: 550;
}

.Header__NavBtn__Label::before {
  position: absolute; 
  content: "";
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transition: transform 500ms ease-in-out;
  transform-origin: center;
  background-color: white;
  z-index: -1;
}

#Header__NavBtn:checked ~ .Header__NavBtn__ .Header__NavBtn__Label::before {
  content: "CLOSE";
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.Header__NavBtn__Label:hover::before {
  transform: scale(1, 1);
}
.Header__NavBtn__Label:hover {
  color: rgb(20, 20, 20);
}

.Header__Nav__ {
  position: absolute;
  top: 100%;
  transform: scale(0, 0);
  transition: transform 500ms ease-in-out;
  background-color: rgba(30, 30, 30, 0.8);
  width: 100%;
}

.Header__Nav__LinksList__ {
  list-style: none;	
  text-align: center;
}

.Header__Nav__LinksList__LinkItem__Link {
  text-decoration: none;	
  color: white;
  position: relative;
}

.Header__Nav__LinksList__LinkItem__Link::before {
  position: absolute;
  bottom: 130%;
  content: "";
  width: 100%;
  border-bottom: 0.1em solid goldenrod;
  transform: scale(0, 0);
  transition: transform 500ms ease-in-out;
}

.Header__Nav__LinksList__LinkItem__Link:hover::before {
  transform: scale(1, 1);
}

.Header__Nav__LinksList__LinkItem__Link:hover {
  color: goldenrod;
}

.Header__Nav__LinksList__LinkItem__:first-child 
  .Header__Nav__LinksList__LinkItem__Link {
  color: goldenrod;
}


#Header__NavBtn:checked ~ .Header__Nav__ {
  display: table-cell;
  transform: scale(1, 1);
}

@media all and (min-width: 730px) {
  .Header__NavBtn__ {
    display: none;	  
  }
  .Header__Nav__ {
    flex-basis: 50%; 
	transform: scale(1, 1);
	display: table-cell;
	position: static;
  }
  .Header__Nav__LinksList__ {
    display: flex;
	justify-content: flex-end;
	margin-right: 1em;
  }
  .Header__Nav__LinksList__LinkItem__ {
    margin-right: 1em;
  }
}

.Home__ {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Home__Content__ {
  display: flex;
  width: 100%;
  height: calc(100vh - calc(var(--HeaderHeight) * 1em));
  margin-top: calc(var(--HeaderHeight) * 1em);
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
}

.Home__Content__ > * {
  margin-bottom: 0.1em;	
}

.Home__Content__Name {
  font-weight: 500;	
  font-size: 4em;
}

.Home__Content__ShortDescription {
  font-weight: 300;	
  font-size: 2em;
  background-color: goldenrod;
}

.Home__Content__IconsLinksList__LinkItem {
  width: 2em;
  height: 2em;
}

.Home__BgVideoOverlay {
  position: absolute;
  display: block;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(20, 20, 20, 0.5);
  z-index: -1;
}

.Home__BgVideo__ {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -2;
}

.Home__BgVideo {
  position: absolute;
  top: 0; left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; 
}

.Home__Content__IconsLinksList__LinkItem__Link:hover 
 .Home__Content__IconsLinksList__LinkItem__Link__Vector  {
  fill: white;	
}

.Home__Content__Name__Word {
  display: inline-block; /* necessary for ::first-letter */
}
.Home__Content__Name__Word::first-letter {
  color: goldenrod;	
}
