---
---

*, *::after, *::before { 
  box-sizing: border-box;
  margin: 0;              
  padding: 0;             
}

:root {
  font-size: calc(0.5rem * 1vw);
  font-weight: normal;
  font-family: "Lato", "Lucida Grande", 
    "Lucida Sans Unicode", Tahoma, Sans-Serif;
  color: #272727; /* change to primary color */
  text-shadow: 0 0.2em 0 rgba(0, 0, 0, 0.07);
  line-height: 1.5;
}

.Display__ {
  font-size: 1rem;
  background-color: {{ site.primary_color }};
}

.Preloader__ {
  font-size: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  display: none;       /* INFO(Ryan): Not displaying as assuming page is cached.
                     *             This simplifies the JS to manually show the 
					 *             preloader if the page is not cached.
                     */
  overflow: hidden;
  background-color: {{ site.primary_color }};
}

.Preloader__AnimationFrame__ {
  font-size: 1rem;
  width: 25em;
  height: 25em;
  display: none;  
}

.Preloader__AnimationFrame__:nth-child(1) {
  display: table-cell; /* INFO(Ryan): Closest 'display' property equivalent for
                        *             a 'flex-item'. 
                        */
}

.Preloader__AnimationFrame__Vector {
  fill: {{ site.secondary_color }};
}

.Preloader__ProgressBar__ {
  font-size: 1rem;
  text-align: center;
  width: 25em;
  height: 2em;
  border: 0.2em solid {{ site.secondary_color }};
  position: relative;
}

.Preloader__ProgressBar__Bar {
  color: white;
  position: absolute;
  top: 0.2em; right: 0.2em; left: 0.2em; bottom: 0.2em;
  background-color: {{ site.secondary_color }};
  transition: transform 250ms ease-in-out;
  transform-origin: left; 
  transform: scale(0, 0);

  /* INFO(Ryan): Horizontally and vertically align text. */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Page__ {
  font-size: 1rem;
  z-index: 1;
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.HomeHeader__ {
  font-size: 1rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.HomeHeader__Logo__ {
  flex-basis: 50%;	
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomeHeader__Logo__Link {
  text-decoration: none;	
  color: white;
}

.HomeHeader__NavBtn__ {
  flex-basis: 50%;	
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomeHeader__NavBtn__Label {
  color: white;
  text-transform: uppercase;
  padding: 0.3em;
  border: 0.1em solid #efefef;
  border-radius: 5%;
}

.HomeHeader__Nav__ {
  flex-basis: 100%;	
  display: none;
}

.HomeHeader__Nav__LinksList__ {
  list-style: none;	
  text-align: center;
}

.HomeHeader__Nav__LinksList__LinkItem__Link {
  text-decoration: none;	
  color: white;
}

.HomeHeader__Nav__LinksList__LinkItem__Link:hover {
  color: goldenrod;
}

.HomeHeader__Nav__LinksList__LinkItem__:first-child 
  .HomeHeader__Nav__LinksList__LinkItem__Link {
  color: goldenrod;
}

#HomeHeader__NavBtn:checked ~ .HomeHeader__Nav__ {
  display: table-cell;
}

.Home__Content__ {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: space-between; 
}

.Home__Content__IconsLinksList__LinkItem {
  width: 1em;
  height: 1em;
}



@media all and (min-width: 570px) {
  .HomeHeader__NavBtn__ {
    display: none;	  
  }
  .HomeHeader__Nav__ {
    flex-basis: 50%; 
	display: table-cell;
  }
  .HomeHeader__Nav__LinksList__ {
    display: flex;
	justify-content: flex-end;
  }
  .HomeHeader__Nav__LinksList__LinkItem__ {
    margin-right: 1em;
  }
}
