<header class="Header__">

  <input id="Header__NavBtn" type="checkbox" />
  <label for="Header__NavBtn" class="Header__NavBtn__">
    <div class="Header__NavBtn__Line"></div>
    <div class="Header__NavBtn__Line"></div>
    <div class="Header__NavBtn__Line"></div>
  </label>
  
  <figure class="Header__Logo__">
    <svg class="Header__Logo__Vector">
      <title> </title>
	  <desc> </desc>
	  <path d="" />
	</svg>
  </figure>

  <nav class="Header__Nav__">
    <ul class="Header__Nav__LinksList__">
      <li class="Header__Nav__LinksList__HomeLinkItem__"> 
        <a class="Header__Nav__LinksList__HomeLinkItem__Link" href="index.html">
                Home 
        </a>
      </li>
      <li class="Header__Nav__LinksList__AboutLinkItem__"> 
        <a class="Header__Nav__LinksList__AboutLinkItem__Link" href="about.html"> 
                About 
        </a>
      </li>
      <li class="Header__Nav__LinksList__ProjectsLinkItem__"> 
        <a class="Header__Nav__LinksList__ProjectsLinkItem__Link" href="projects.html"> 
                Projects 
        </a>
      </li>
      <li class="Header__Nav__LinksList__ContactLinkItem__"> 
        <a class="Header__Nav__LinksList__ContactLinkItem__Link" href="contact.html"> 
                Contact 
        </a>
      </li>
    </ul>
  </nav>

</header>
