<header class="HomeHeader__">

  <!-- If flex item, best to put in wrapper -->
  <div class="HomeHeader__Logo__">
    <a class="HomeHeader__Logo__Link" href="index.html"> R.E.M </a>
  </div>

  <input id="HomeHeader__NavBtn" type="checkbox" style="display: none;"/>
  <div class="HomeHeader__NavBtn__">
    <label for="HomeHeader__NavBtn" class="HomeHeader__NavBtn__Label">
      MENU
    </label>
  </div>

  <nav class="HomeHeader__Nav__">
    <ul class="HomeHeader__Nav__LinksList__">
      <li class="HomeHeader__Nav__LinksList__LinkItem__"> 
        <a class="HomeHeader__Nav__LinksList__LinkItem__Link" href="index.html">
                Home 
        </a>
      </li>
      <li class="HomeHeader__Nav__LinksList__LinkItem__"> 
        <a class="HomeHeader__Nav__LinksList__LinkItem__Link" href="about.html"> 
                About 
        </a>
      </li>
      <li class="HomeHeader__Nav__LinksList__LinkItem__"> 
        <a class="HomeHeader__Nav__LinksList__LinkItem__Link" href="projects.html"> 
                Projects 
        </a>
      </li>
      <li class="HomeHeader__Nav__LinksList__LinkItem__"> 
        <a class="HomeHeader__Nav__LinksList__LinkItem__Link" href="contact.html"> 
                Contact 
        </a>
      </li>
    </ul>
  </nav>

</header>
